*{margin:0;
padding:0;
box-sizing:border-box;}
body{font-family:'Courier New', Courier, monospace;
background-color:beige;
display:flex;
justify-content: center;
text-align: center;
align-items: center;
height: 100vh;}
.card{background-color: white;
width: 300px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
text-align: center;}
.title{font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 20px;
font-weight: bold;}
.hidden-table{width: 100%;
border-collapse: collapse;
text-align: center;}
.pic{width:150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
margin:0 auto;}
.Name{font-size: 18px;
font-weight: bold;
margin-top: 20px;}
.bio{font-size: 14px;
color: blue;
margin-top: 10px;
margin-bottom: 10px;}
.social{display: flex;
height:30px;
justify-content: center;
margin-top: 10px;}
.contact-button{background-color: cornflowerblue;
color:aliceblue;
border: none;
padding: 10px;
border-radius: 5px;
width: 100%;
cursor: pointer;
margin-top: 20px;
font-size:16px;}
.contact-button:hover{background-color: wheat;}